<section>
    <h2>Top 3 más vendidas</h2>

    @for (pelicula of top3(); track pelicula.id) {
        <article>
        <img [src]="pelicula.imagenUrl" [alt]="pelicula.titulo" />
        <h3>{{ pelicula.titulo }}</h3>
        <p>{{ pelicula.duracionMinutos }} min</p>
        </article>
    } @empty {
        <p>Todavía no hay películas cargadas.</p>
    }
</section>

<section>
    <h2>Buscar películas</h2>

    <input
        type="text"
        placeholder="Buscar por título..."
        (input)="onTextoChange($event)"
    />

    <select (change)="onGeneroChange($event)">
        <option value="">Todos los géneros</option>
        @for (genero of generos(); track genero.id) {
            <option [value]="genero.id">{{ genero.nombre }}</option>
        }
    </select>

    <div class="resultados">
        @for (pelicula of resultados(); track pelicula.id) {
            <a [routerLink]="['/peliculas', pelicula.id]">
                <article>
                    <img [src]="pelicula.imagenUrl" [alt]="pelicula.titulo" />
                    <h3>{{ pelicula.titulo }}</h3>
                    <p>{{ pelicula.duracionMinutos }} min</p>
                </article>
            </a>
        } @empty {
            <p>No se encontraron películas.</p>
        }
    </div>
</section>